* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	background-color: #fffdc9;
	width: 100%;
	min-height: 100%;
	overflow: auto;
}

.container-fluid{
	padding: 0;
}

#grid-body{
	height: 703px;
}

.img-fluid{
	width: 100%;
	min-width: 100%;
}

/*Sidepanels*/

#rick-img, #moarty-img{
	margin: auto;
	vertical-align: middle;
}

#lside, #rside{
	height: inherit;
	display: flex;
}

/*Center display*/

#center{
	display: block;
}

.rick, .hangman{
	padding: 0;
}

#main-screen-row{
	height: 400px;
}

#main-screen{
	width: 100%;
	height: 90%;
	font-size: 22px;
	text-align: center;
	margin: 20px 0;
}

#lives-wins-losses, #wordGuess{
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
#lives-wins-losses{
	height: 30%;
}

#wordGuess{
	height: 70%;
	padding-top: 50px;
}

.panel{
	width: 100%;
	height: 130px;
}

.panel-body{
	padding: 10px;
	height: 70%;
	text-align: center;
	overflow: auto;
}

.letter {
	width: 30px;
	height: 30px;
	border-style: solid;
	padding: 2px;
	float: left;
	margin: 2px;
	color: darkcyan;
}